In [1]:
import pandas as pd

In [2]:
# Descargar el conector de Mysql y la librerÃ­a sqlalchemy
! pip install mysql-connector-python sqlalchemy

Collecting mysql-connector-python

WARNING: You are using pip version 22.0.4; however, version 23.1.2 is available.
You should consider upgrading via the 'C:\Users\diego\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip' command.

  Downloading mysql_connector_python-8.0.33-cp39-cp39-win_amd64.whl (9.6 MB)
     ---------------------------------------- 9.6/9.6 MB 10.0 MB/s eta 0:00:00
Requirement already satisfied: sqlalchemy in c:\users\diego\appdata\local\packages\pythonsoftwarefoundation.python.3.9_qbz5n2kfra8p0\localcache\local-packages\python39\site-packages (1.4.39)
Collecting protobuf<=3.20.3,>=3.11.0
  Downloading protobuf-3.20.3-cp39-cp39-win_amd64.whl (904 kB)
     ------------------------------------- 904.2/904.2 KB 14.4 MB/s eta 0:00:00
Requirement already satisfied: greenlet!=0.4.17 in c:\users\diego\appdata\local\packages\pythonsoftwarefoundation.python.3.9_qbz5n2kfra8p0\localcache\local-packages\python39\site-packages (from sqlalchemy) (1.1.2)
Installing collected packages: protobuf, mysql-connector-python
Successfully installed mysql-connector-python-8.0.33 protobuf-3.20.3

In [3]:
from sqlalchemy import create_engine

us = 'fesalu'
passwd = 'bdfes2023'
url = 'bd.arcelia.net'
puerto = '3306'
bd = 'bdcolegiosource'
auth = 'mysql_native_password'

str_conn = 'mysql+mysqlconnector://{0}:{1}@{2}:{3}/{4}?auth_plugin={5}'
str_conn = str_conn.format(us, passwd, url, puerto, bd, auth)

In [4]:
conn = create_engine(str_conn)
conn

Engine(mysql+mysqlconnector://fesalu:***@bd.arcelia.net:3306/bdcolegiosource?auth_plugin=mysql_native_password)

In [5]:
sql = '''SELECT * FROM Alumnos WHERE DATE(fnac) >=  %s'''
# SELECT * FROM Alumnos WHERE DATE(fnac) >=  '2000-01-01'
df_mysql = pd.read_sql_query(sql=sql, con=conn, params=['2000-01-01'])

In [6]:
df_mysql

  no_cuenta  nombre    paterno       fnac  estatura
0        1A    Juan      Lopez 2001-01-01      1.78
1       1GG   Maria  Paterno 1 2001-03-20      1.60
2      21OL   Donna      River 2002-01-09      1.69
3       2GG   Maria  Paterno 2 2001-03-20      1.62
4        3B   Perla     Calles 2001-01-20      1.60
5        4A  Carlos     Madero 2001-01-01      1.68
6       574   Pedro  Paterno 5 2022-01-31      1.60
7        6C   Jesus     Garcia 2001-03-20      1.65
8        7B    Gema       None 2001-03-20      1.53
9      A744   Amaro     Garcia 2001-09-23      1.83