In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("datos/df/alumnos.csv")
df

   index no_cuenta nombres apellido_paterno fecha_nacimiento  estatura
0      0        1A    Juan            Lopez       2001-01-01      1.78
1      1       1GG   Maria        Paterno 1       2001-03-20      1.60
2      2      21OL   Donna            River       2002-01-09      1.69
3      3       2GG   Maria        Paterno 2       2001-03-20      1.62
4      4        3B   Perla           Calles       2001-01-20      1.60
5      5        4A  Carlos           Madero       2001-01-01      1.68
6      6       574   Pedro        Paterno 5       2022-01-31      1.60
7      7        6C   Jesus           Garcia       2001-03-20      1.65
8      8        7B    Gema             None       2001-03-20      1.53
9      9      A744   Amaro           Garcia       2001-09-23      1.83

In [5]:
# Escribir a un CSV
df.to_csv("datos/df/alumnos_coma.csv", index_label="ID")

In [7]:
df.to_csv("datos/df/alumnos_pipe.csv", index=False, sep="|")

! type alumnos_pipe.csv

index|no_cuenta|nombres|apellido_paterno|fecha_nacimiento|estatura
0|1A|Juan|Lopez|2001-01-01|1.78
1|1GG|Maria|Paterno 1|2001-03-20|1.6
2|21OL|Donna|River|2002-01-09|1.69
3|2GG|Maria|Paterno 2|2001-03-20|1.62
4|3B|Perla|Calles|2001-01-20|1.6
5|4A|Carlos|Madero|2001-01-01|1.68
6|574|Pedro|Paterno 5|2022-01-31|1.6
7|6C|Jesus|Garcia|2001-03-20|1.65
8|7B|Gema|None|2001-03-20|1.53
9|A744|Amaro|Garcia|2001-09-23|1.83

In [8]:
# Escribir un JSON
df.to_json("datos/df/alumnos_campos.json", indent=2)

In [9]:
# Escribir JSON otientado a registros
df.to_json("datos/df/alumnos_registros.json",
           orient="records",
           indent=2)

In [10]:
# Escribir JSON orientado a tablas
df.to_json('datos/df/alumnos_tabla.json',
           orient='table',
           indent=2)

In [11]:
# Escribir JSON orientado a valores
df.to_json("datos/df/alumnos_valores.json",
           orient='values',
           indent=2)

In [12]:
# Escribir en Excel
df.to_excel(
    'datos/df/alumnos_excel.xlsx',
    sheet_name = "AlumnosArcelia",
    index = False
)

In [13]:
# Escribir en multiples hojas en un archivo de excel
# df_2 = df.copy()
with pd.ExcelWriter('datos/df/alumnos_hojas.xlsx') as w:
    for i in range(5):
        hoja = f"AlumnosHoja{i}"
        df.to_excel(w, sheet_name=hoja, index=False)

#Escribir en un archivo de excel existente
with pd.ExcelWriter('datos/df/alumnos_hojas.xlsx', 
    mode='a', engine="openpyxl",) as w:
    df.to_excel(w, sheet_name="AlumnosExiste", index=False)

In [17]:
! pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.1.2-py2.py3-none-any.whl (249 kB)
     -------------------------------------- 250.0/250.0 KB 1.9 MB/s eta 0:00:00
Collecting et-xmlfile
  Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.2

WARNING: You are using pip version 22.0.4; however, version 23.1.2 is available.
You should consider upgrading via the 'C:\Users\diego\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip' command.

In [18]:
# Escribir en un archivo de excel existente
with pd.ExcelWriter('datos/df/alumnos_hojas.xlsx', 
    mode='a', engine="openpyxl",) as w:
    df.to_excel(w, sheet_name="AlumnosExiste", index=False)